*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/

.idea/workspace.xml
.idea/.name
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
*.iml

out/
build/

